/** Slider **/
.leaflet-control-zoomslider-wrap {
	padding-top: 5px;
	padding-bottom: 5px;
	/*background-color: green;*/
	/*border-bottom: 1px solid #ccc;*/
	/*height: 13vh;*/
}
.leaflet-control-zoomslider-body {
	width: 2px;
	background-color: white;
	margin: 0 auto;
	height: 100%;
}
.leaflet-control-zoomslider-knob {
	position: relative;
	width: 12px;
	height: 6px;
	background-color: #efefef;
	/*-webkit-border-radius: 2px;*/
	/*border-radius: 2px;*/
	/*border: 1px solid #000;*/
	margin-left: -6px;
}
.leaflet-control-zoomslider-body:hover {
	cursor: pointer;
}
.leaflet-control-zoomslider-knob:hover {
	cursor: default;
	cursor: -webkit-grab;
	cursor:    -moz-grab;
}

.leaflet-dragging .leaflet-control-zoomslider,
.leaflet-dragging .leaflet-control-zoomslider-wrap,
.leaflet-dragging .leaflet-control-zoomslider-body,
.leaflet-dragging .leaflet-control-zoomslider a,
.leaflet-dragging .leaflet-control-zoomslider a.leaflet-control-zoomslider-disabled,
.leaflet-dragging .leaflet-control-zoomslider-knob:hover  {
	cursor: move;
	cursor: -webkit-grabbing;
	cursor:    -moz-grabbing;
}

/** Leaflet Zoom Styles **/
.leaflet-container .leaflet-control-zoomslider {
	margin-left: 10px;
	margin-top: 10px;
}
.leaflet-control-zoomslider a {
	width: 26px;
	height: 26px;
	text-align: center;
	text-decoration: none;
	color: black;
	display: block;
}
.leaflet-control-zoomslider a:hover {
	background-color: #f4f4f4;
}
.leaflet-control-zoomslider-in {
	font: bold 18px 'Lucida Console', Monaco, monospace;
}
.leaflet-control-zoomslider-in{
	background:url("/static/terminal/icons/plus.svg") no-repeat;

}
.leaflet-control-zoomslider-out {
	background:url("/static/terminal/icons/minus.svg") no-repeat;
	font: bold 22px 'Lucida Console', Monaco, monospace;
}

.leaflet-control-zoomslider-in, .leaflet-control-zoomslider-out{
	background-size: 74%;
}

/*.leaflet-control-zoomslider-out:after{*/
	/*content:"\2212"*/
/*}*/
.leaflet-control-zoomslider a.leaflet-control-zoomslider-disabled {
	cursor: default;
	color: #bbb;
}

/* Touch */
.leaflet-touch .leaflet-control-zoomslider-body {
	background-position: 10px 0px;
}
.leaflet-touch .leaflet-control-zoomslider-knob {
	margin-left: -7px;
    width: 16px;
	background: white;
}
.leaflet-touch .leaflet-control-zoomslider a {
	width: 35px;
	line-height: 30px;
}

.leaflet-touch .leaflet-control-zoomslider-in {
	font-size: 24px;
	line-height: 29px;
}
.leaflet-touch .leaflet-control-zoomslider-out {
	font-size: 28px;
	line-height: 30px;
}
.leaflet-touch .leaflet-control-zoomslider {
	border: none;
	/*box-shadow: none;*/
	/*background-color: #1B5EAA;*/
	/*border: 4px solid rgba(0,0,0,0.3);*/
}

/* Old IE */

.leaflet-oldie .leaflet-control-zoomslider-wrap {
	width: 26px;
}

.leaflet-oldie .leaflet-control-zoomslider {
	/*border: 1px solid #999;*/
}

.leaflet-oldie .leaflet-control-zoomslider-in {
	*zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\u002B');
}
.leaflet-oldie .leaflet-control-zoomslider-out {
	*zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\u2212');
}

/*.leaflet-touch .leaflet-control-zoomslider a, .leaflet-touch .leaflet-control-zoomslider div{*/
	/*background-color: transparent;*/
/*}*/

.leaflet-control-zoomslider-in{
	border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
    /*background-color: red !important;*/
}

.leaflet-control-zoomslider-out{
	border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;

}

.leaflet-control-zoomslider-in, .leaflet-control-zoomslider-out, .leaflet-control-zoomslider-wrap
{
	border: none !important;
	background-color: #1B5EAA !important;
}

.leaflet-bar a, .leaflet-control-layers-toggle{
	background-position: 42% 50%;
}