.highcharts-credits{
    display: none;
}

/*.chart{*/
    /*margin-top: 10px;*/
/*}*/

.map_chart_panel{
    width: 73vw;
    height: 160px;
    overflow-x: hidden;
}

#line_chart_all{
    height: 150px;
    width: 99%;
}


.map_chart_panel .chart_one{
    height: 150px;
    width: 320px;
    display: inline-block;
    cursor: pointer;
}

.chart_full_size{
    height: 50vh;
    width: 70vw;
    /*background-color: red;*/
}

.chart_full_size .close_chart{
    position: absolute;
    width: 25px;
    height: 25px;
    z-index: 1;
    right: 5px;
    top: 5px;
    cursor: pointer !important;
    background: url(/static/terminal/icons/close.svg) no-repeat;
}

.chart_full_size .highcharts-container{
    height: 100%;
    width: 500px;
}

.list_charts{
    width: auto;
    overflow-x: auto;
    white-space: nowrap;
    display: initial;
}

.map_chart_panel.full_size{
    width: 100vw;
}

.chart_full_size.full_size{
    width: 99vw;
}

/*arrows*/
.carousel_arrow{
    width: 100px;
    position: fixed;
    z-index: 1;
    padding: 2% 0;
    display: none;
}

#carusel_arrow_left{

}

.carousel_arrow img{
    width: 80%;
    margin-top: 15%;
    cursor: pointer;
}


#carusel_arrow_right{
    right: 0;
    /*background-color: green;*/
}

#carusel_arrow_left img{
   transform: rotate(90deg);
}

#carusel_arrow_right img{
    transform: rotate(270deg);
    margin-left: 20%;
}
