@font-face{
    font-family: kpmg_univers_regular;
    src: url('/static/terminal/fonts/UniversforKPMG/UniversforKPMG.ttf');
}

@font-face{
    font-family: kpmg_univers_light;
    src: url('/static/terminal/fonts/UniversforKPMG/UniversforKPMG-Light.ttf');
}

@font-face{
    font-family: kpmg_univers_bold;
    src: url('/static/terminal/fonts/UniversforKPMG/UniversforKPMG-Bold.ttf');
}