body{
    background-color: lightgrey;
    font-family: kpmg_univers_regular;
}

.leaflet-control-attribution.leaflet-control{
    display: none;
}

.terminal_color{
    width: 10px;
    height: 10px;
    margin: 0;
}

.route_color{
    height: 3px;
    width: 20px;
    display: inline-block;
}

#list_routing li{
    list-style: none;
}

#list_routing ul{
    padding: 2px;
}


#menu{

}

.container{
    margin: 0;
    padding: 25px;
    width: 100%;
}

.row{
    width: 100%;
}

#charts{
    margin-top: 20px;
    height: 180vh;
    width: 75%;
}

#charts iframe{
    overflow:hidden;
    overflow-x:hidden;
    overflow-y:hidden;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}

#indicator_list input:not(:first-child), #wagons_list input:not(:first-child), #sending_list input:not(:first-child){
    margin-left: 10px;
}

#indicator_list{
    margin-top: 30px;
}

#point_2-choice{
    margin-top: 10px;
}

/*---------------*/
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The search field */
#myInput {
  border-box: box-sizing;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}

.filter_div{
    padding-top: 2%;
    margin-top: 5px;
    width: 100%;
}

#panel_for_map{
    width: auto;
    height: auto;
    border: 1px solid;
    margin-top: 5px;
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
}

.ok_filter{
    margin-top: 20px;
    margin-bottom: 10px;
}

/*confim reset*/
#reset_viewed_confirm .modal-header, #load_hist .modal-header{
    border: none;
}

#reset_viewed_confirm .modal-header .close {
    margin-top: -20px;
}

#reset_viewed_confirm .modal-footer{
    margin-top: 0;
}

#save_name_filter{
    width: 90%;
}

.l_from{
    margin-left: 14px;
}

#select_filter{
    width: 60%;
}

/*---------------*/
/* Customize the label (the container) */
.indicator_list{
    padding: 0;
}

.indicator .title{
    margin-left: 22px;
}

.indicator {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.indicator input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid;
  margin-top: 3px;
}



/* On mouse-over, add a grey background color */
.indicator:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.indicator input:checked ~ .checkmark {
  background-color:white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.indicator input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.indicator .checkmark:after {
    top: 23%;
    left: 22%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #00A3A1;
}


/*scrool tooltip*/
.scroll_type_1::-webkit-scrollbar-track, #histories::-webkit-scrollbar-track
{
	-webkit-box-shadow: 0 5px 15px rgba(45, 58, 66, 0.35);
	border-radius: 10px;
	background-color: #1B5EAA;
    border: 1px solid rgba(255, 255, 255, 0.35);
}

.scroll_type_1::-webkit-scrollbar, #histories::-webkit-scrollbar
{
	width: 5px;
	background-color: transparent;
}

.scroll_type_1::-webkit-scrollbar-thumb, #histories::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
	background-color: white;
}
/*/ scroll tooltip*/

/*scrool tooltip type_2*/
.scroll_type_2::-webkit-scrollbar-track, #histories::-webkit-scrollbar-track
{
	-webkit-box-shadow: 0 5px 15px rgba(45, 58, 66, 0.35);
	border-radius: 10px;
	/*background-color: #1B5EAA;*/
	background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.35);
}

.scroll_type_2::-webkit-scrollbar, #histories::-webkit-scrollbar
{
	width: 5px;
	background-color: transparent;
}

.scroll_type_2::-webkit-scrollbar-thumb, #histories::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
	/*background-color: white;*/
	background-color: #1B5EAA;
}
/*/ scroll tooltip*/

/*scrool scroll_type_hide_2*/
.scroll_type_2.scroll_type_hide_2::-webkit-scrollbar-track, #histories::-webkit-scrollbar-track
{
	-webkit-box-shadow: none;
	/*border-radius: 10px;*/
	/*background-color: #1B5EAA;*/
	background-color: transparent;
    border: none;
}

.scroll_type_2.scroll_type_hide_2::-webkit-scrollbar, #histories::-webkit-scrollbar
{
	width: 5px;
	background-color: transparent;
}

.scroll_type_2.scroll_type_hide_2::-webkit-scrollbar-thumb, #histories::-webkit-scrollbar-thumb
{
	/*border-radius: 10px;*/
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
	/*background-color: white;*/
	background-color: transparent;
}
/*/ scroll scroll_type_hide_2*/