#main{
    padding: 0;
}

#map_col {
    width: 74%;
    float: right;
    height: 100%;
    z-index: 0;
}

#mapid {
    width: 74%;
    min-height: 50vh;
    height: 100%;
    position: fixed;
    /* background-color: red; */
}


#mapid.full_size, #map_col.full_size{
    width: 100% !important;
}


.terminal_legends{
    background: #1B5EAA url(/static/terminal/icons/legend.svg) no-repeat;
    border-radius: 20px;
    background-size: 57%;
    background-position: center;
}

.terminal_legend{
    padding: 2px 4px;
}

.terminal_legends.inactive{
    width: 35px;
    height: 35px;
    cursor: pointer !important;
}

.terminal_legends.active{
    border-radius: 25px;
    height: auto;
    width: 250px;
    background: white;
}

.terminal_legends .container{
    padding: 0;
}

.terminal_legends .row{
    margin-left: 0;
    margin-right: 0;
}

.terminal_legends .title{
    border-radius: 25px;
    height: 35px;
    background: #1B5EAA;
    padding: 3% 0;
}

.terminal_legends .title .text{
    color: white;
    font-size: 14px;
}

.terminal_legends .pin, .terminal_legends .mark{
    height: 100%;
}

.terminal_legends .pin{
    background: #1B5EAA url(/static/terminal/icons/pin.svg) no-repeat;
    border-radius: 20px;
    background-size: 60%;
    background-position: center;
}

.terminal_legends .mark{
    background: #1B5EAA url(/static/terminal/icons/legend.svg) no-repeat;
    border-radius: 20px;
    background-size: 57%;
    background-position: center;
    float: right;
}

.map_full_size{
    border-radius: 25px;
    width: 35px;
    height: 35px;
    cursor: pointer !important;
    background: #1B5EAA url(/static/terminal/icons/expand.svg) no-repeat;
    background-size: 62%;
    background-position: center;
}

.map_exit_full_size{
    /*border-radius: 25px;*/
    width: 35px;
    height: 35px;
    cursor: pointer !important;
    background: url(/static/terminal/icons/close_blue.svg) no-repeat;

}

.select_mode{
    height: 39px;
    border-radius: 20px;
    /*background: #1B5EAA;*/
}

.map_select_terminals.select_mode{
    width: 250px;
}

.map_select_terminals.active{
    background: white;
    height: 300px;
}

.map_select_mode_terminals{
    cursor: pointer;
    margin-top: 15px !important;
}

.map_select_mode_terminals.select_mode{
    width: 160px;
}

.map_select_mode_terminals.active{
    background-color: white;
    height: 100px;
}

.mode_terminals{
    padding-left: 5px;
}

.bind_with_stations .title{
    width: 180px !important;
}

.select_mode.active{
    background: white;
}

.select_mode .title{
    cursor: pointer;
    border-radius: 20px;
    width: 160px;
    height: 39px;
    background: #1B5EAA;
    padding: 5% 7%;
    font-size: 14px;
    color: white;
}

.select_mode li{
    list-style: none;
    width: 95%;
    cursor: pointer;
}

.select_mode li:hover{
    background-color: #f1f1f1;
}


/*----------slider---*/

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
  float: right;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 0px;
  bottom: -2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*-----slider-*/

/*-------------select terminal on map-*/
#choose_filter1{
    width: 100%;
    border-radius: 19.5px;
    background-color: #1B5EAA;
    text-align: left;
}

#choose_filter1 .selector_filter{
    width: 15px;
    height: 10px;
    margin: 6px 2px 0 8px;
    background: #1B5EAA url(/static/terminal/icons/selector_white.svg) no-repeat;
    float: right;
}

#terminal_filter{
    width: 100%;
}

#d_filter_terminals{
    max-height: 200px;
    overflow-y: auto;
    margin-top: 5px;
}



#f_filter_list1{
    padding: 3%;
    border: none;
}

#i_filter_list1{
    border: none;
    border-bottom: 1px solid #1C8ECE;
    color: #1B5EAA;
}


#legends_body{
    padding-right: 20px;
    overflow-y: scroll;
    max-height: 140px;
    width: 97%;
    display: none;
}

#legends_body ul{
    padding-left: 0;
}

#legends_body li{
    list-style: none;
}

.terminal_legends .body{
    width: 250px;
}


#list_terminals{
    height: auto;
    padding: 0;
    padding-left: 10px;
    max-height: 205px;
    overflow-y: auto;
    background: rgba(250, 250, 250, 0.9);
}

#list_terminals .owner div{
    display: inline-block;
}

.list_terminals ul{
    padding-left: 10px;
    color: #1B5EAA;
}

.list_terminals_circle {
    float: left;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    margin-top: 4px;
}

.terminal_legend span.t_title{
    margin-left: 6px;
}

.list_terminals_icon {
    float: right;
    width: 15px;
    height: 10px;
    margin: 6px 5px 0 0;
    background: #1B5EAA url(/static/terminal/icons/selector_white.svg) no-repeat;
}


#wrap_legend{
    padding: 3%;
    background-color: white;
    border-radius: 25px;
}


#list_routing{
    height: auto;
    width: auto;
    /*margin-top: 12px;*/
    background: transparent;
    padding: 1px;
    font-size: 10px;
}

.legend_color{
    background-color: #2BECCA;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.switch_layer{
    border-radius: 25px;
    width: 35px;
    height: 35px;
    cursor: pointer !important;
    background: #1B5EAA url(/static/terminal/icons/layers.svg) no-repeat;
    background-size: 62%;
    background-position: center;
}


/*.switch_layer{*/
    /*background: #1B5EAA url(/static/terminal/icons/legend.svg) no-repeat;*/
    /*border-radius: 20px;*/
    /*background-size: 57%;*/
    /*background-position: center;*/
/*}*/

.switch_layer.inactive{
    width: 35px;
    height: 35px;
    cursor: pointer !important;
}

.switch_layer.active{
    border-radius: 25px;
    height: 100%;
    width:  180px;
    background: white;
}

.switch_layer .container{
    padding: 0;
}

.switch_layer .row{
    margin-left: 0;
    margin-right: 0;
}

.switch_layer .title{
    border-radius: 25px;
    height: 35px;
    background: #1B5EAA;
    padding: 3% 0;
}

.switch_layer .title .text{
    color: white;
    font-size: 14px;
}

.switch_layer .mark{
    height: 100%;
}


.switch_layer .mark{
    background: #1B5EAA url(/static/terminal/icons/layers.svg) no-repeat;
    border-radius: 20px;
    background-size: 57%;
    background-position: center;
    float: right;
}

#layer_list_body{
    padding-right: 20px;
    padding-left: 10px;
    /*overflow-y: scroll;*/
    max-height: 140px;
    width: 97%;
    color: #1B5EAA;
}

#layer_list_body ul{
    padding-left: 0;
}

#layer_list_body li{
    list-style: none;
}

.switch_layer .body {
    width: 100%;
}
.switch_layer .container {
    padding: 0;
}

/*marker*/
.leaflet-popup-content-wrapper{
    background-color: #1B5EAA !important;
    color: white !important;
}

.marker_tooltip.row{
    margin-right: 0;
    margin-left: 0;
}

.marker_tooltip .row{
    margin-right: 0;
    margin-left: 0;
}

.marker_tooltip.row .title, .marker_tooltip.row .info{
    padding-left: 0;
    padding-right: 0;
}

.marker_tooltip .owner{
    font-size: 18px;
}

.marker_tooltip .info_field{
    padding-top: 10px;
}

.terminal_checked, .layer_map.active, .mode_terminals.active{
    background-color: #B7B7B7;
    border-radius: 5px;
}

.layer_map{
    padding-left: 5px;
}

#d_filter_terminals div{
    cursor: pointer;
}

#map_layer_list_body{
    color: #1B5EAA;
}