.filt_field{
    background: transparent;
    /*border: none;*/
    text-align: left;
    max-height: 300px;
    overflow-y: auto;
}

.filt_field input{
    width: 100%;
    padding: 2px;
}

.filt_field label{
    width: 100%;
}

.filt_field .selector_icon {
    background:  url(/static/terminal/icons/selector_azure.svg) no-repeat center;
    width: 25px;
    height: 25px;
    float: right;
    margin-right: 10px;
    display: inline-block;
}

.filt_field .values_field {
    display: inline-block;
    width: 90%;
}

.filt_field .search_inp{
    background-color: #1B5EAA;
    color: white;
    border: none;
    border-bottom: 1px solid #1C8ECE;
    padding: 4px;
}

.filt_field .search_inp::placeholder{
    color: lightsteelblue;
    font-size: 10px;
}


.filt_field.add_f{
    border: 2px solid #1E8ECE;
    min-width: 100%;
    border-top: none;
}

#f_filter_list.filt_field{
    padding: 15px;
    width: 100% !important;
    border: none;
}

.dropbtn{
    padding: 10px;
    font-size: 14px;
}

#title_head, #table_menu {
    box-shadow: 0 5px 10px 0px rgba(45, 58, 66, 0.15);
}

#title_head {
    padding: 8% 4% 8% 6%;
    min-height: 103px;
    height: 103px;
}

#title_head img {
    width: 103px;
    height: 41px;
    margin-top: -3%;
}

#table_menu {
    font-size: 16px;
    padding: 0 6% 0 6%;
    min-height: 65px;
    height: 65px;
}

#table_menu .nav-tabs {
    border-bottom: none;
}

#table_menu .nav-tabs li:not(:first-child) {
    margin-left: 10%;
}

#table_menu ul li {
    height: 100%;
    padding-top: 4%;
}

#table_menu .nav-tabs a {
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom-color: transparent;
    padding: 10px 0 10px 0;
}

#table_menu .nav-tabs .active, #table_menu .nav-tabs li:hover{
    border-bottom: 4px solid white;
}

#title_head span {
    font-size: 22px;
    margin-left: 3%;
    color: white;
}

#table_col {
    width: 26%;
    float: left;
    overflow-y: hidden;
    background-color: #1B5EAA;
    color: white;
    height: 100vh;
}


#table_col.full_size{
    width: 0 !important;
}

#calc_tools .btns{
    padding: 6% 0;
}

#panel{
    width: 100%;
    height: auto;
    padding: 3%;
    border-radius: 20px;
}

#show_as{
    margin: 10px 0 0 0;
}

#show_as .indicator{
    padding: 1px;
}

#having_from{
    margin-top: 10px;
}

#save_templ_as .modal-header, #save_templ_as .modal-footer{
    border:none;
}

#save_templ_as .modal-content{
    margin-top: 20%;
    margin-left: 15%;
    background-color: #1B5EAA;
    color: white;
    width: 65%;
}

#save_templ_as .modal-header{
    font-size: 20px;
}

#save_templ_as .modal-footer{
    text-align: center;
    margin-top: 0;
}

#save_name_filter {
    margin-top: 5%;
    width: 100%;
    transition: border 0.2s ease, background 0.2s ease;
    border-radius: 20px;
    font-size: 16px;
    padding: 12px 10px;
    height: 34px;
}

#save_templ_as .img_close{
    width: 30px;
}

.ok_cl{
    background: #00AFA8;
    border: none;
    border-radius: 17px;
    width: 60%;
    height: 35px;
    color: white;
    font-size: 20px;
}

.panel-btn{
    border: none;
    border-radius: 17px;
    width: 120px;
    height: 34px;
    background: none;
    color: #00AFA8;
}

.panel-btn:hover{
    color: white;
}


.panel-btn-accept {
    color: white;
    background: #00AFA8;
}

.panel-btn-accept:hover{
    background: #00A3A1;
}

.panel-btn-save {
    border: solid 2px #00AFA8;
}

.panel-btn-save:hover{
    border-color: white;
}


/*history*/

#hist_exists{
    font-size: 14px;
}

#hist_panel .img_search{
    width: 24px;
}

#hist_panel .funcs {
    height: 10%;
    padding: 4% 0;
    font-size: 16px;
}

#hist_panel{
    padding: 0 6%;
    word-wrap: break-word;
}

#chart_panel{
    padding: 3% 2% 3% 6%;
    word-wrap: break-word;
}

#chart_panel_body{
    height: 75vh;
    overflow-y: auto;
    padding-right: 5px;
}

.search_panel {
    background: white;
    border-radius: 20px;
    /*width: 80%;*/
}

#hist_panel .search_panel input {
    width: 82%;
}

.search_panel input {
    border-radius: 20px 0 0 20px;
    border: none;
    font-size: 16px;
    padding-left: 3%;
    color: #1B5EAA;
}

*:focus {
    outline: none;
}

#hist_panel .search{
    margin-left: 0;
}

.del_hist img {
    width: 23px;
}

.row_hist {
    padding: 3% 0;
    margin: 0;
    border-bottom: 1px solid;
    cursor: pointer;
}

.upper{
    text-transform: uppercase;
}

.bottom_custom{
    border-bottom: 1px solid rgba(0, 156, 220, 1);
}

.daterange{
    cursor: pointer;
    padding: 4px 2px;
    width: 75%;
    background: transparent;
}

.daterange div{
    color: white;
}

.daterange .title{

}

.daterangepicker.opensleft:after, .daterangepicker.opensleft:after{
    display: none;
}

.inputstl {
    padding: 4px;
    border: solid 1px #0077B0;
    outline: 0;
    font-size: 19px;
    color: #1B5EAA;
    height: auto;
    width: 30%;
    background: white;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

#add_filter{
    margin-top: 7%;
    width: 100%;
}

#add_filter.c_show{
    /* height: -webkit-fill-available; */
    height: 300px;
    background-color: white;
    border-radius: 19.5px;
}

.filter_div.c_show{
    height: -webkit-fill-available;
    max-width: 100%;
}

#choose_filter{
    border-radius: 19.5px;
    width: 100%;
    background-color: white;
    color: #1B5EAA;
    box-shadow: 1.51px -1.31px 15px rgba(45, 58, 66, 0.25);
}

#choose_filter span:first-child{
    float: left;
}

#choose_filter span:last-child{
    float: right;
    width: 15px;
    height: 20px;
    background: url(/static/terminal/icons/selector_blue.svg) no-repeat center;
}


/* 
.filter_div .title div{
    display: inline-block; 
} 
*/

.filter_div .title {
    display: flex;
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: space-between; 
}

.filter_div .title .name{
    background-color: #009CDC;
    border-radius: 12px;
    padding: 1px 10px;
    float: left;
}

.filter_div .title .line{
    height: 1px;
    background-color: #009CDC;
    margin: 10px -1px;
    flex:1;
}
.remove_filter{
    background: url(/static/terminal/icons/close.svg) no-repeat center;
    height: 20px;
    width: 20px;
    float: right;
}

.filter_div .title .remove_filter{
    float: right;
}




.datepicker-here{
    border: none;
    background: transparent;
    color: white;
    width: 30%;
}

#d_filter_list {
    color: #1B5EAA;
    margin-top: 10px;
    max-height: 190px;
    overflow-y: auto;
}

#i_filter_list{
    width: 100%;
    border: none;
    border-bottom: 1px solid #1C8ECE;
}

#i_filter_list::placeholder{
    font-size: 10px;
    color: lightblue;
}

.bt_choose{
    width: auto;
    padding: 3px;
    margin-top: 8px;
    border: 1px solid #1E8ECE;
    color: white;
    font-size: 14px;
}

.date_tmpl.bt_choose{
    padding: 6px;
}

.selector_d{
    margin-left: 10px;
}

.list_vars{
    max-height: 200px;
    width: 100%;
    overflow-y: auto;
    background-color: #1B5EAA;
    padding: 4px
}

#wrap_date_otp, .date_tmpl{
    margin-top: 10px;
}

.list_vars label, .list_vars .etc{
    color: white;
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 5px;
}

.list_vars a{
    padding: 1% 2%;
}

.list_vars>a:hover{
    background: #1C8ECE;
}

.checked_var{
    background-color: #1C8ECE;
}

#filter_sub_panel{
    overflow-y: auto;
    padding-right: 10px;
    max-height: 40vh;
}

.date_type .name, .type_text .name{
    width: fit-content;
    padding-top: 3px;
}

.date_type .remove_filter{
    float: right;
}

#wrap_date_otp, .date_tmpl_fact{
    margin-top: 10px;
    padding: 5px;
    /*border: 1px solid #1C8ECE;*/
}

.leaflet-popup-close-button{
    display: none !important;
}

.etc{
    font-size: 20px;
}

.filter_elem{
    cursor: pointer;
}

#i_filter_list{
    color: #1B5EAA;
}

/*chart panel*/
.chart_use.active{
    background-color: #1E8ECE;
}

.chart_use{
    margin-top: 5px;
    padding: 5px;
}

.chart_use label{
    height: fit-content;
}

.wrap_etc{
    cursor: pointer;
}

#list_hist{
    max-height: 75vh;
    overflow-y: auto;
    padding: 1%;
}