{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brunswick Rail</title>
{#    css#}
    <link rel="stylesheet" type="text/css" href="{% static 'terminal/css/external/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'terminal/css/index.css' %}">
    <link rel="stylesheet" href="{% static "terminal/css/hicharts/hicharts_test.css" %}">
    <link rel="stylesheet" href="{% static "terminal/css/charts.css" %}">

{#    js#}
    <script src="{% static '/terminal/js/external/jquery-3.3.1.min.js' %}" type="text/javascript"></script>
{#    <script src="{% static '/terminal/js/external/moment-with-locales.js' %}" type="text/javascript"></script>#}
    <script src="{% static '/terminal/js/external/bootstrap.min.js' %}" type="text/javascript"></script>

    <script src="{% static '/terminal/js/hicharts/highcharts.js' %}"></script>
    <script src="{% static '/terminal/js/hicharts/exporting.js' %}"></script>
    <script src="{% static '/terminal/js/hicharts/export-data.js' %}"></script>


    <script src="{% static '/terminal/js/charts.js' %}" type="text/javascript"></script>

</head>
<body>
    <div class="container">
        <div id="chart_by_travel" class="chart"></div>
        <div id="chart_by_import_export" class="chart"></div>
        <div id="chart_by_type_vagons" class="chart"></div>
    </div>
</body>
</html>