<!-- Handelbars template -->
{% verbatim %}
<script id="terminal_description-template" type="text/x-handlebars-template">
    <div class="marker_tooltip row" data-id="397">
        <div>
            <div class="row">
                <div class="col-md-11 title">
                    <div class="owner">
                       <span>{{ owner  }}</span>
                    </div>

                </div>

                <div class="col-md-1 info">
                    <div>
                        <a href="#" onclick="close_popup(this)" class="close_popup">
                            <img src="/static/terminal/icons/close.svg" >
                        </a>
                    </div>
                </div>

            </div>

            <div>
                {{#if place }}
                    <div class="place info_field">
                        <span><b>Местопложение:</b> {{ place }}</span>
                    </div>
                {{/if}}

                {{#if railway_station }}
                    <div class="railway_station info_field">
                        <span><b>ЖД станция:</b> {{ railway_station }}</span>
                    </div>
                {{/if}}

                {{#if description }}
                    <div class="description info_field">
                        <span><b>Описание:</b> {{ description }}</span>
                    </div>
                {{/if}}

                <div class="teu_per_month info_field">
                    <span><b>Пропускная способность, teu/месяц:</b> {{ teu_per_month }}</span>
                </div>
            </div>

        </div>

    </div>
</script>

<script id="terminal_list-template" type="text/x-handlebars-template">
    {{#each this}}
        <div class="owner">
            <div class="terminal_color"  style="background-color: {{ color }}"></div>
            <span>{{ owner }}</span>
        </div>
    {{/each}}
</script>

<script id="terminal_filter-template" type="text/x-handlebars-template">
    <div id="filter_terminal">
        <label for="select_filter">Выберите терминал: </label>
        <select id="select_filter" onchange="onchange_filter(this)">

            <option value="all"  {{#unless  terminals }}selected {{/unless}}>
            Все
            </option>

            {{#each terminals}}
                <option value="{{ name }}">{{ owner }}</option>
            {{/each}}
        </select>
    </div>
</script>

<script id="terminal_list_routing-template" type="text/x-handlebars-template">
    <div>Отображено на карте: {{ common_count }}</div>
    <ul>
        {{#each list_ranges}}
            <li>
                <div>
                    <div class="route_color" style="background-color: {{ color }}"></div>
                    <span>{{ range }}</span>
                    <span><b>Всего:</b> {{ sum_weight }}</span>
                </div>
            </li>
        {{/each}}
    </ul>
    <div>Итого по запросу: {{ full_sum_value }}</div>
</script>

<script id="terminal_stations-template" type="text/x-handlebars-template">
    <option data-value="all">Все</option>
    {{#each this}}
        <option>{{ name }}</option>
    {{/each}}
</script>

<script id="terminal_filter_date-template" type="text/x-handlebars-template">
     <div id="{{ id }}" class="filter_div date_type">
        <div  class="title">
            <div class="name">{{ name }}</div>
            <div class="line"></div>
            <div class="remove_filter" onclick="remove_filter('{{ id }}')"></div>
        </div>

        <div id="wrap_date_{{ id }}" class="date_tmpl bt_choose">
            <span>От</span>
            <input type="text" id="{{ id }}_from" data-id="fakt_data_pribytija" class="datepicker-here from"
                data-language='ru' data-min-view="months" data-view="months" data-date-format="MM yyyy" />

            <span>До</span>
            <input type="text" data-id="fakt_data_pribytija" id="{{ id }}_to" class="datepicker-here to"
                   data-language='ru'
                data-min-view="months" data-view="months" data-date-format="MM yyyy" />
        </div>

    </div>

</script>

<script id="terminal_filter_list-template" type="text/x-handlebars-template">
    <div id="{{ id }}" class="dropdown filter_div">
        <div class="title">
            <div class="name">{{ name }}</div>
            <div class="line"></div>
            <div class="remove_filter" onclick="remove_filter('{{ id }}')"></div>
        </div>

        <div class="filt_field bt_choose" onclick="add_filter('f_{{ id }}', '{{ id }}')"> 
            <div class="filt_field values_field"><div id="b_{{ id }}">Выберите значение</div></div>
            <div class="filt_field selector_icon"></div>
        </div>
        <!-- <button id="b_{{ id }}" onclick="add_filter('f_{{ id }}', '{{ id }}')" > </button> -->

        <div id="f_{{ id }}" class="dropdown-content filt_field add_f">
            <input type="text" class="search_inp" onkeyup="filterFunction(this, '{{ id }}')"
                   placeholder="Введите запрос"
                   onpaste="filterFunction(this, '{{ id }}')">
            <div class="list_vars scroll_type_2">
                {{> terminal_vars_list-template }}
            </div>

            <button class="ok_filter hide" onclick="hide_dropdown('f_{{ id }}')">Ok</button>
        </div>
    </div>
</script>

<script id="terminal_vars_list-template" type="text/x-handlebars-template">
    {{#each vars}}
        <div {{#if is_used }} class="checked_var" {{/if}} >
            <input class="hide" type="checkbox" id="{{../id}}_{{ @key }}"
                   name="scales" data-id="{{ @key }}"
                   onchange="onchange_check()">
            <label for="{{../id}}_{{ @key }}" >{{ value }}</label>
        </div>
    {{/each}}

    {{#if is_limit}}
       <div class="wrap_etc" onclick="etc_click('{{ id }}')">
           <span class="etc">...</span>
        </div>
    {{/if}}
</script>


<script id="terminal_filter_text-template" type="text/x-handlebars-template">
    <div id="{{ id }}" class="dropdown filter_div type_text">
        <div class="upper">
            <span class="name">{{ name }}</span>
            <span class="remove_filter" onclick="remove_filter('{{ id }}')"></span>
        </div>

        <input id="t_{{ id }}" type="text" onchange="onchange_text_filt('{{ id }}')">
        <span class="remove_filter" onclick="remove_filter('{{ id }}')"></span>
    </div>
</script>

<script id="terminal_main_filter-template" type="text/x-handlebars-template">
   {{#each this}}
      <div href="#" class="filter_elem" onclick="add_filter_elem(this)" data-id="{{ @key }}" >{{ this.name }}</div>
   {{/each}}
</script>

<script id="terminal_list_hist-template" type="text/x-handlebars-template">
    {{#each this}}
        <div class="row_hist row" id="row_hist_{{ @key }}" data-value="{{ name }}">
            <div class="body col-md-11" onclick="load_one_hist({{ @key }})">
                <span class="name">{{ name }}</span>
            </div>

            <div class="del_hist col-md-">
                <img src="/static/terminal/icons/close.svg" onclick="del_hist({{ @key }})">
            </div>
        </div>
    {{/each}}
</script>

<script id="terminal_legends-template" type="text/x-handlebars-template">
    <div class="body container hide">
         <div class="title row">
            <div class="text col-md-9">
                <span>ЖД грузоперевозки</span>
            </div>

            <div class="pin col-md-1 hide"></div>
            <div id="mark_shown" class="mark col-md-offset-1 col-md-1"></div>
        </div>

        <div id="wrap_legend">
            <div id="legends_body" class="scroll_type_1" onwheel="stop_map_wheel()"></div>
            <div id="list_routing"></div>
        </div>

    </div>

</script>

<script id="terminal_select_terminals-template" type="text/x-handlebars-template">
    <div class="title">
        <span>{{ name }}</span>
        <span class="list_terminals_icon"></span>
    </div>
    <div class="list_terminals hide">
        <ul>
            {{#each vars }}
                <li data-id ="{{ @key }}" class="mode_terminals {{#ifeq @key 'all'}} active {{/ifeq}}"
                    onclick="onclick_by_mode()">{{ this }}</li>
            {{/each}}
        </ul>
    </div>
    
</script>

<script id="terminal_bind_with_stations-template" type="text/x-handlebars-template">
    <div class="title">
        <span>{{ name }}</span>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
    </div>

</script>

<script id="terminal_chart_panel-template" type="text/x-handlebars-template">
    <div id="line_chart_all" class="chart_one" onclick="click_chart_one()"></div>

    <div class="list_charts hide">
        <div id="carusel_arrow_left" class="carousel_arrow">
             <img src="/static/terminal/icons/selector_blue.svg" onclick="arrow_click()" alt="arrow_left">
        </div>

        <div id="carusel_arrow_right" class="carousel_arrow">
           <img src="/static/terminal/icons/selector_blue.svg" onclick="arrow_click()" alt="arrow_right">
        </div>

        <div id="map_chart_body">
            {{> terminal_chart_panel_body-template }}
        </div>

    </div>
</script>

<script id="terminal_chart_panel_body-template" type="text/x-handlebars-template">
    {{#each this}}
      <div id="pie_{{ this }}" class="chart_one" onclick="click_chart_one()"></div>
      <div id="line_chart_{{ this }}" class="chart_one" onclick="click_chart_one()"></div>
    {{/each}}
</script>

<script id="terminal_layer_list-template" type="text/x-handlebars-template">
    <div class="body container hide">
         <div class="title row">
            <div class="text col-md-9">
                <span>Смена слоя</span>
            </div>

            <div class="pin col-md-1 hide"></div>
            <div id="mark_shown" class="mark col-md-offset-1 col-md-1"></div>
        </div>

        <div id="wrap_legend">
            <div id="map_layer_list_body" class="scroll_type_1" onwheel="stop_map_wheel()">
                 {{#each this}}
                      <div onclick="onclick_by_map_layer()"
                           class="layer_map {{#ifeq @key 'simple'}} active {{/ifeq}}"
                           data-id="{{ @key }}">{{ this }}</div>
                 {{/each}}
            </div>
        </div>
    </div>

</script>

<script id="terminal_chart_full_size-template" type="text/x-handlebars-template">
    <div class="close_chart "></div>
    <div id="chart_full_size_id" class=""></div>
</script>

<script id="terminal_filter_val_list-template" type="text/x-handlebars-template">
    {{#each titles}}
      <span class="f_selected" data-filter="{{../filt_id}}"
            onclick="filter_selected_click('{{../filt_id}}_{{ id }}')"
            data-id="{{ id }}"
            >{{ name }}</span><span>{{#unless @last}}, {{/unless}}</span>
    {{/each}}
</script>

{% endverbatim %}