{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'terminal/index_head.html' %}
</head>
<body>
{% include 'terminal/modal.html' %}

<div id="main" class="container">
    <div id="table_col" class="">

        {#        header #}
        <div id='title_head'>
            <div>
                <a href="/?lang=ru"><img src="/static/terminal/images/KPMG_logo.svg"></a>
                <span>Brunswick Rail</span>
            </div>
        </div>
        {#    menu#}
        <div id="table_menu">
            <ul class="nav nav-tabs">
                <li id="menu_calc" class="active menu_panel" onclick="click_menu_panel(this)">
                    <a href="#">Фильтрация</a>
                </li>
                <li id="menu_hist" class="menu_panel" onclick="click_menu_panel(this)">
                    <a href="#">Шаблоны</a>
                </li>
                <li id="menu_chart" class="menu_panel" onclick="click_menu_panel(this)">
                    <a href="#">Графики</a>
                </li>
            </ul>
        </div>

        {#    CALCULATION#}
        <div id="calc_panel" class="panel_table">
            {#            roller#}
            <div id="wrapper-loader" class="hide">
                <div class="lds-roller">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>

            {# calc_tools#}
            <div id="calc_tools">
                <div class="row btns">
                    <div id="Clear" class="col-md-4">
                        <button onclick="clear_panel()" class="panel-btn panel-btn-clear">Очистить</button>
                    </div>
                    <div id="save" class="col-md-4">
                        <button id="save_vars" class="panel-btn panel-btn-save"
                                data-toggle="modal" data-target="#save_templ_as">Сохранить
                        </button>
                    </div>
                    <div id="accept_btn" class="col-md-4">
                        <button class="panel-btn panel-btn-accept" onclick="accept_filter()">Применить</button>
                    </div>
                </div>
            </div>

            {# calc_funcs#}
            <div id="calc_funcs"></div>

            <div id="row_point_panel">
                <div id="wrapper_points">
                    <div id="points">
                        {# filter#}
                        <div id="menu" class="">
                        <div id="panel" onclick="hide_dropdown()">
                            {# dates#}
                            <div>
                                <div class="upper">Дата отправления</div>
                                <div id="wrap_date_otp" class="date_tmpl">
                                    <span>От</span>
                                    <input type="text"
                                       id="data_otpravlenija_from"
                                       data-id="data_otpravlenija"
                                       class="datepicker-here from"
                                       data-language='ru'
                                       data-min-view="months"
                                       value="Январь 2018"
                                       data-view="months"
                                       data-date-format="MM yyyy" />

                                    <span>До</span>
                                    <input type="text" data-id="data_otpravlenija"
                                       id="data_otpravlenija_to"
                                       class="datepicker-here to"
                                       data-language='ru'
                                       data-min-view="months"
                                       value="Январь 2018"
                                       data-view="months"
                                       data-date-format="MM yyyy" />
                                    </div>

                            </div>

{#                          indicators#}
                            <div id="indicator_list">
                                <div class="upper">Отображать в </div>
                                <div id="show_as" class="bottom_custom row">
                                    {% for i in INDICATOR_AS %}
                                        <div class="indicator_list
                                          {% if i.code == 'count_rows' %} col-md-6 {% else %} col-md-3 {% endif %}">
                                            <label class="indicator">
                                                <span class="title">{{ i.value }}</span>
                                                    <input type="radio" name="type_indicator" value="{{ i.code }}"
                                                    {% if forloop.first %} checked {% endif %}>
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>

                                <div id="having_from">
                                    <label for="having" class="upper">Показатель расчетов от: </label>
                                    <input id="having" class="inputstl" type="number"
                                           onchange="onchange_text_filt('having')"
                                           value="{{ default_from }}"/>
                                </div>
                            </div>

                            <div id="add_filter" class="dropdown">

                                <button id="choose_filter" onclick="add_filter('f_filter_list', 'add_filter')"
                                        class="dropbtn">
                                    <span>Выберите фильтр</span>
                                    <span class="selector_filter"></span>
                                </button>

                                <div id="f_filter_list" class="dropdown-content filt_field">
                                    <input id="i_filter_list" type="text"
                                           placeholder="Введите запрос"
                                           onkeyup="filterFunction(this, 'filter_list')">
                                    <div id="d_filter_list" class="scroll_type_1">
                                        {% for f in sorted_all_filter %}
                                            <div class="filter_elem" onclick="add_filter_elem(this)"
                                                 data-id="{{ f.code }}">{{ f.name }}</div>
                                        {% endfor %}
                                    </div>

                                </div>
                            </div>

                            <div id="filter_sub_panel" class="scroll_type_2">
                                <div id="f_sub_f"></div>
                            </div>
                            {# go#}
                        </div>
                    </div>

                    </div>
                </div>

            </div>

        </div>
        {# /   CALCULATION#}

         {#  HISTORY#}
        <div id="hist_panel" class="panel_table hide">
        {#            funcs#}
            <div class="funcs">
                <div class="row search">
                    <div class="search_panel">
                         <input type="text" placeholder="Поиск..." onkeyup="search_hist_key_up()">
                         <span class="close_search hide" onclick="hide_search_panel()">
                             <img src="/static/terminal/icons/close_blue.svg">
                         </span>
                    </div>
                </div>
{#                list historiess#}
                <div id="list_hist" class="scroll_type_1"></div>
            </div>
    </div>
        {# /   HISTORY#}

        <div id="chart_panel" class="hide">
            <div id="chart_panel_body" class="scroll_type_1">
                {% for i in sorted_all_filter %}
                    {% if i.draw_chart > -1 %}
                        <div onclick="onclick_filter_use('{{ i.code }}')" data-id="{{ i.code }}"
                             class="chart_use {% if i.draw_chart == 1 %}  active {% endif %}" >
                            <input class="hide" type="checkbox" id="chart_use_{{ i.code }}" name="scales">
                            <label onclick="event.stopPropagation()" for="chart_use_{{ i.code }}">{{ i.name }}</label>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>

    <div class="full " id="map_col">
        <div id="mapid" class=""></div>
        <div id="map_logo">
            <span>(c)КПМГ</span>
            {#       <a href="/?lang={{ locale }}"><img src="/static/image/kpmg-logo.svg"></a>#}
        </div>
    </div>

</div>

</body>

<script type="text/javascript">
    var DEFAULT_INDICATOR = '{{ DEFAULT_INDICATOR | safe}}';
    var INDICATORS_DEFAULT_HAVING = {{ INDICATORS_DEFAULT_HAVING | safe}};
    var INDICATOR_AS_JSON = {{ INDICATOR_AS_JSON | safe}};
    var CHARTS_IDS = {{ CHARTS_IDS | safe}};
    var CHARTS_SELECTED = {{ charts_selected | safe}};
    var TERMINALS_JSON = {{ terminals_json | safe}};
</script>

{% include 'terminal/handle_template.html' %}
{% with terminals as terminals %}
    {% include 'terminal/list_terminals.html' %}
{% endwith %}



</html>