{% load static %}

<meta charset="UTF-8">
<title>Brunswick Rail</title>

<link rel="shortcut icon" href="{% static 'terminal/favicon/favicon.ico' %}"/>

{#    css#}
<link rel="stylesheet" type="text/css" href="{% static 'terminal/css/external/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'terminal/css/external/datepicker.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'terminal/css/fonts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'terminal/css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'terminal/css/map.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'terminal/css/panel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'terminal/css/custom.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'terminal/css/leaflet/leaflet.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'terminal/css/leaflet/L.Control.Zoomslider.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'terminal/css/charts.css' %}">

{#    js#}
<script src="{% static '/terminal/js/external/jquery-3.3.1.min.js' %}" type="text/javascript"></script>
<script src="{% static '/terminal/js/external/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static '/terminal/js/external/handlebars-v4.0.11.js' %}" type="text/javascript"></script>
<script src="{% static '/terminal/js/leaflet/leaflet.js' %}" type="text/javascript"></script>
<script src="{% static '/terminal/js/leaflet/svg-icon.js' %}" type="text/javascript"></script>
<script src="{% static '/terminal/js/leaflet/leaflet.ajax.min.js' %}" type="text/javascript"></script>
<script src="{% static '/terminal/js/leaflet/L.Control.Zoomslider.js' %}" type="text/javascript"></script>
<script src="{% static '/terminal/js/external/moment.min.js' %}" type="text/javascript"></script>
<script src="{% static '/terminal/js/external/datepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static '/terminal/js/external/HeatLayer.js' %}" type="text/javascript"></script>
<script src="{% static '/terminal/js/hicharts/highcharts.js' %}"></script>
<script src="{% static '/terminal/js/hicharts/exporting.js' %}"></script>
<script src="{% static '/terminal/js/hicharts/export-data.js' %}"></script>
<script src="{% static '/terminal/js/init_handle_templates.js' %}" type="text/javascript"></script>
<script src="{% static '/terminal/js/settings.js' %}" type="text/javascript"></script>
<script src="{% static '/terminal/js/map.js' %}" type="text/javascript"></script>


<script src="{% static '/terminal/js/hichart_theme.js' %}" type="text/javascript"></script>
<script src="{% static '/terminal/js/charts.js' %}" type="text/javascript"></script>
<script src="{% static '/terminal/js/panel.js' %}" type="text/javascript"></script>
<script src="{% static '/terminal/js/history.js' %}" type="text/javascript"></script>

{% if debug or use_test %}
    <script src="{% static '/terminal/js/tests_config.js' %}" type="text/javascript"></script>
    <script src="{% static '/terminal/js/tests.js' %}" type="text/javascript"></script>
{% else %}
    <script type="text/javascript">
        console.log = function() {};
    </script>
{% endif %}



