<div id="list_terminals_br" class="hide">
    <div id="add_filter1" class="dropdown">

    <button id="choose_filter1" onclick="add_filter('f_filter_list1', 'add_filter1')" class="dropbtn">
        <span>Выберите терминал</span>
        <span class="selector_filter"></span>
    </button>

    <div id="f_filter_list1" class="dropdown-content filt_field">
        <input id="i_filter_list1" type="text"
               onkeyup="filterFunction(this, 'filter_list1')">
        <div id="d_filter_terminals" class="scroll_type_1" onwheel="stop_map_wheel()">
            <div class="terminal_legend terminal_checked" onclick="onclick_by_owner()"
                 data-id="all">Показать все терминалы</div>
            <div class="terminal_legend" onclick="onclick_by_owner()" data-id="hide_all">Скрыть все терминалы</div>
            {% for i in terminals %}
                <div class="terminal_legend" onclick="onclick_by_owner()" data-id="{{ i.code }}">
                    <span class="list_terminals_circle" style="background-color: {{ i.color }}" data-id="{{ i.code }}"></span>
                    <span class="t_title" data-id="{{ i.code }}">{{ i.owner }}</span>
                </div>
            {% endfor %}

        </div>

    </div>
</div>

<div id="list_terminals_br_color" class="hide">
    <ul>
        {% for i in terminals %}
           <li>
            <div class="legend_color" style="background-color: {{ i.color }}"></div>
            <span>{{ i.owner }}</span>
           </li>
        {% endfor %}
    </ul>
</div>

