<!-- Modal -->

<div class="modal fade" id="save_templ_as" tabindex="-1" role="dialog"
     aria-labelledby="save_templ_asLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
         <span class="modal-title" id="save_templ_asLabel">Сохранить как ...</span>

         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <img class="img_close" src="/static/terminal/icons/close.svg" alt="close">
        </button>
         <div id="hist_exists" class="alert alert-danger hide" role="alert"> </div>
        <input id="save_name_filter" type="text">

      </div>

      <div class="modal-footer">
        <button type="button" class="ok_cl" onclick="save_filter()">Ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="load_hist" tabindex="-1" role="dialog"
     aria-labelledby="load_histLabel" aria-hidden="true" onclick="load_hist()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="load_histLabel">Select variant to load</h5>

        <select id="list_load_hist">
        </select>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="load_one_hist()">Ok</button>
      </div>
    </div>
  </div>
</div>